*{padding: 0;margin: 0;list-style: none;}
a{text-decoration: none;color: #ccc;}
html, body {
      position: relative;
      height: 100%;
      font-size:37.5px;
    }
    .clear{zoom: 1;}
    
    
    .clear::after { content: "";clear: both;display: block;overflow: hidden;font-size: 0; height: 0;}
    
    
    
    
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size:0;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .wrap{box-sizing: border-box;margin-bottom: 60px;}
    .swiper-container {
      width: 100%;
      /*height: 6rem;*/
    }
    .swiper-slide {
      text-align: center;
      background: #fff;

      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.notice-wrap{padding: 0.2rem;height: 1rem;background: #fff;display: flex;align-items: center;}
.not-title{font-size: 0.5rem;font-weight: bold;padding-right: 0.3rem;border-right: 0.02rem solid #f0f0f0;width: 40px;}
.not-con-wrap{flex: 1;}
.not-con{display: flex;padding: 0 0.2rem;align-items: center;}
.not-con img{width: 20px;height: 18px;display: block;}
.not-con p{font-size: 0.4rem;flex: 1;padding-left: 0.2rem;}
.product-wrap{margin-top: 0.5rem;background: #fff;}
.product-title{font-size: 0.5rem;font-weight:500;padding: 0.2rem;}
.product-img{width: 100%;height: 3rem;background:url(../images/lingquxz.png) no-repeat;background-size: cover;position: relative;}
.product-img a{font-size: .35rem;position: absolute;top: 1.9rem;left: 2.5rem;}
.product-list-wrap{padding: 0.2rem;}
.product-list-ul{}
.product-list-li{width: 48%;height: 150px;background: #fff;float:left;margin-top: 10px;border-radius: 10px;position: relative;text-align: center;}
.product-list-li:nth-child(even){margin-left: 4%;}
.product-btn{height: 30px;background: #125d70;z-index: 99;width: 48%;position: absolute;bottom: 0;width: 100%;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;font-size: 0.4rem;color: #fff !important; text-align: center;line-height: 30px;}

.product-foot-wrap{height: 55px;background: #fff;position: fixed;bottom: 0;z-index: 999;width: 100%;}

/*.product-foot-flx{width: 50%;float: left;font-size: 0.4rem;height: 55px;line-height: 55px;text-align: center;}*/
.product-foot-flx{display: flex;align-items: center;}

.product-foot-flx div{flex: 1;}
.foot-icom{display: flex;flex-direction: column;align-items: center;font-size: .38rem;}
