*{padding: 0;margin: 0;list-style: none;}
a{text-decoration: none;color: #ccc;}
html, body {
      position: relative;
      height: 100%;
      font-size:37.5px;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 0;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
    .rece_list{width: 90%;margin: 10px auto;background: #FFFFFF;padding:.3rem;font-size: .42rem;}
	.rece_list_box p{line-height: 25px;color: #999;}
