<include file="Common:header"/>
<link rel="stylesheet" href="__CSS__/success.css">
<div class="wrap">
	<div>
		<div class="success">
			<img src="__IMG__/successIcom.png" style="width: 90px;height: 90px;" />
			<p style="margin-top: 20px;font-size: .6rem;">领取成功</p>
			<p style="font-size: .3rem;color: #999;margin-top: 10px;">可到我的订单中查看详情</p>
		</div>
		<a href="order.html" target="_self">
			<div class="goOrder">
				<button class="comm">我的订单</button>
			</div>
		</a>
	</div>
	
	<div style="display: none;">
		<div class="success">
			<img src="__IMG__/failIcom.png" style="width: 90px;height: 90px;" />
			<p style="margin-top: 20px;font-size: .6rem;">领取失败</p>
			<p style="font-size: .3rem;color: #999;margin-top: 10px;">确认信息是否正确</p>
		</div>
		<a href="order.html" target="_self">
			<div class="goOrder">
				<button class="comm">我的订单</button>
			</div>
		</a>
	</div>
</div>
<!-- 底部包含 -->
<include file="Common:footer"/>
