<include file="Common:header"/>
<style type="text/css">
    .yfmb,.tyyf{display: none;}
    .hide{display:none;}
</style>
<script type="text/javascript">
    window.UEDITOR_HOME_URL = '__PLUG__/ueditor/';
    window.onload = function(){
        //设置编辑器的宽度
        window.UEDITOR_CONFIG.initialFrameWidth = 1000; 
         //设置编辑器的高度
        window.UEDITOR_CONFIG.initialFrameHeight = 400; 
         //配置编辑器图片上传文件的路径
        UE.getEditor('content');   //传入txtarea 的ID即可载入
    }
 </script>

<js file='__PLUG__/ueditor/ueditor.config.js'/>
<js file='__PLUG__/ueditor/ueditor.all.min.js'/>
<div class="main_box">
    <h2><span></span>{$title}</h2>
    <div class="cont_box">
        <form action="{:U('Other/other',array('id'=>$data['id'], 'type' => $_GET['type']))}" method="post" id="form">
            <ul class="addpro_box adduser_box">
                <li>
                    <label>内容：</label>
                    <textarea name="content" id="content">{$data.content}</textarea>
                </li>
            </ul>
            <div class="probtn_box clearfix">
                <input type="submit" value="确认提交" class="btn btn_truck"/>
                <input type="button" value="返回" class="btn btn_info back"/>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function(){
	    $('#form').validate({
		    rules: {
		      content: {
		        required:true,
		      },
		    },
		    messages: {
		      content: {
		        required: "内容不能为空",
		      },
		    }
	    })
   })
</script>

<include file="Common:footer"/>