<include file="Common:header"/>
<div class="main_box">
	<h2><span></span>会员管理</h2>
	<form action="#">
		<div class="search_box clearfix">
			<input type="text" class="f_left" value="{$_GET['keywords']}" name="keywords" placeholder="输入关键字">
			<input type="submit" value="查询" class="btn blue_btn">
		</div>
	</form>
	<div class="cont_box">
		<table border="0" cellspacing="0" cellpadding="0" class="table" id="table_box">
			<tr>
				<th>全选</th>
				<th>ID</th>
				<th>头像【昵称/姓名/电话】</th>
				<th>省/市</th>
				<th>性别</th>
				<th>创建时间</th>
				<th width="268">操作</th>
			</tr>
			<if condition="$data">
				<foreach name="data" item="v">
					<tr id="1"><!--此处id为进行查看该会员相关信息时，当前数据的唯一标识-->
						<td><input type="checkbox" name="ids[]" value="{$v.id}"></td>
						<td>{$v.id}</td>
						<td>
							<img src="{$v.headimgurl}" class="listimg">
							<span>
							   {$v.nickname|base64_decode}
							   / {$v.username|default="未知"}
							   / {$v.userphone|default='未知'}
							</span>
						</td>
						<td>{$v.province}/{$v.city}</td>
						<td>
						    <if condition="$v['sex']">
						      男
						    <else/>
						      女
						    </if>
						</td>
						<td>{$v.create_time|date='Y-m-d H:i:s',###}</td>
						<td>
							<a href="{:U('Members/search',array('id'=>$v['id']))}" class="table_btn table_edit edit_btn">
								<i class="fa fa-edit"></i>
								<span>编辑</span>
							</a>
							<a href="{:U('Order/order',array('members_id'=>$v['id']))}" class="table_btn table_edit edit_btn">
								<i class="fa fa-search"></i>
								<span>个人订单</span>
							</a>
						</td>
					</tr>
				</foreach>
				<tr>
					<td colspan="13">
						<div class="more-btn all" value="0">全选</div>
						<div class="more-btn del">删除</div>
					</td>
				</tr>
				<tr style="height: 60px;">
					<td colspan="7" style="text-align:center">
					    <div class="page">{$page}</div>
					</td>
				</tr>
			<else/>
			    <tr class="nocontent">
					<td colspan="7">世界都清静了...</td>
				</tr>
			</if> 
		</table>
	</div>
</div>
<script>
	$(function(){
		$("select[name=type]").change(function(){
		    var type = $(this).val();
			window.location.href="?type="+type;
		})
	})
</script>

<script type="text/javascript">
  <!-- 全选 -->
  $('.all').click(function(){
    var check = $(this).attr('value');
    if (check == '0') {
      $(this).attr('value', '1');
      $("input[type='checkbox']").prop('checked', true);
    }else{
      $(this).attr('value', '0');
      $("input[type='checkbox']").prop('checked', false);
    }
  });

  // 多选删除
  $('.del').click(function(){
    var ids = $('input[type=checkbox]:checked').val();
    if (!ids) {
      layer.msg('请选择参数');return;
    }
    var senddata = $('input[type=checkbox]:checked').serialize();//table 为对应的数据表

	layer.confirm('您确定要删除吗？', {
	btn: ['确定','取消'] //按钮
	},function(){
	   $.ajax({
	      url:'/Admin/Members/delMore',
	      type:"get",
	      data:senddata,
	      success:function(rs) {
	      	console.log(rs);
	         if (rs['code'] == '6'){
	            layer.msg(rs['msg']);
	            window.location.reload();
	         }else{
	            layer.msg(rs['msg']);
	         }
	      }
	   })
	},function(){
	  layer.closeAll();
	});
  });
</script>
<include file="Common:footer"/>