<include file="Common:header"/>
<div class="main_box">
	<h2><span></span>邮件详情</h2>
	<div class="cont_box">
		<ul class="addpro_box adduser_box">
			<li>
				<label>收件人姓名：</label>
				<input type="text" value="{$data.name}" disabled />
			</li>
			<li>
				<label>收件人邮箱：</label>
				<input type="text" value="{$data.send}" disabled/>
			</li>
			<li>
				<label>邮件标题：</label>
				<input type="text" value="{$data.title}" disabled/>
			</li>
			<li>
				<label>发送时间：</label>
				<input type="text" value="{$data.create_time|date='Y-m-d h:i:s',###}" disabled/>
			</li>
		    <li><label>邮件内容：</label><textarea disabled rows="5">{$data.content}</textarea></li>
		</ul>
		<div class="probtn_box clearfix">
			<input type="button" value="返回" class="btn btn_info back"/>
		</div>
	</div>
</div>
<include file="Common:footer"/>